<div class="container">
    <h1>Register a Survey Poodle</h1>

    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="username">Username</label><br>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username..."
                formControlName="username" required minlength="3">
        </div>
        <div *ngIf="username.invalid && (username.dirty|| username.touched )">
            <p *ngIf="username.errors.required">Username is required</p>
            <p *ngIf="username.errors.minlength">Username must be atleast 3 charactors</p>

        </div>


        <div class="form-group">
            <label for="password">Password</label><br>
            <input class="form-control" type="password" name="password" id="password"
                placeholder="Enter your password..." formControlName="password" required minlength="4">
        </div>
        <div *ngIf="password.invalid && (password.dirty|| password.touched )">
            <p *ngIf="password.errors.required">password is required</p>
            <p *ngIf="password.errors.minlength">password must be atleast 4 charactors</p>

        </div>
        <br>

        <button class="btn btn-success btn-lg" (click)="onRegisterClicked()" type="button"
            [disabled]="isLoading || registerForm.invalid">Register</button>
        <br>
        <div *ngIf="registerError" class="alert alert-danger mt-2" role="alert">
            <h4>Something went wrong</h4>
            <p> {{ registerError}}</p>

        </div>
        <div *ngIf="isLoading">
            <p>Registering your account...</p>
        </div>

    </form>
    <br><br>
    <a routerLink="/login"> I already have an account, Login now</a>
</div>